name: Maven CI

on: [ push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Copy plug-in
      run: |
        mkdir artifact
        mv target/clif-performance-testing.hpi artifact/

    - name: Make plug-in available for download
      uses: actions/upload-artifact@v4
      with:
        name: clif-performance-testing-plugin
        path: artifact
